name: 'Scheduled Tests Run'

on:
  schedule:
    - cron: '0 9 * * *'


jobs:
  unitTest:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Test Api
        run: dotnet test tests/Notes.Api.UnitTests -c Release
  #    - name: Test Application
  #      dotnet test tests/Notes.Application.UnitTests -c Release
  #    - name: Test Infrastructure
  #      dotnet test tests/Notes.Infrastructure.UnitTests -c Release

  integrationTest:
    name: Run Integration Tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Test
      run: dotnet test tests/Notes.Api.IntegrationTests -c Release